// BUTTONS
.button {
  padding: 0.5em 1em;
  display: inline-block;
  border-radius: 30em;
  margin: 1em 0;
  i {
    padding: 0 0.2em;
  }
  &:hover {
    color: white;
  }
  @include break-point(small) {
    width: 1em 1.5em;
  }
}
