// COMMON
// Common styles for all posts
article {
  padding: $spacing 0;
  line-height: 1.5;
  .title {
    font-size: $font-size-l;
    font-weight: bold;
    margin: 0 0 0.67em;
  }
}
// Posts

// Avoids causing extra margin at bottom of post
.post-content > *:last-child,
.caption blockquote > *:last-child {
  margin-bottom: 0;
}

// Avoid causing extra margin at top of posts
.post-content > *:first-child,
.type-answer .question .asker {
  margin-top: 0;
}
.caption {
  margin-top: $spacing;
}
.group:after {
  content: "";
  display: table;
  clear: both;
}
.quote-content {
  margin: 0em auto;
}
.quote-content.length-short {
  font-size: 1.8em;
}
.quote-content.length-medium {
  font-size: 1.3em;
}
.quote-content.length-long {
  font-size: 1.1em;
}
.type-chat .post-body {
  li {
    margin-bottom: $spacing;
  }
  .label {
    width: 100%;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
}
.type-answer .post-body {
  .portrait {
    vertical-align: middle;
    border-radius: 50%;
    margin-right: $spacing/2;
  }
  .user-meta {
    font-style: italic;
  }
}
// Disqus comments
.comments {
    margin-bottom: $spacing/2;
}
