/* VARIABLES */
/* Set these variables using the Tumblr customize menu */

::-moz-selection {
	background: {color:Highlight};
}
::selection {
	background: {color:Highlight};
}
body {
	background: {BackgroundColor};
	color: {color:Body text};
	font-family: {font:Body};
}
blockquote {
	border-left: 2px solid {color:Body Blockquotes};
}
header {
	background: {color:Header Background} url('{image:Header Image}');
}
.has-header-tint #header-tint {
	background: {color:Header Background};
}
a {
	color: {color:Body links};
}
a:hover {
	color: {color:Body Links on Hover};
}
article .title {
	color: {color:Body text};
}
.button,
.more_notes_link {
	background: {color:Button Background};
	color: {color:Button Text};
}
.button:hover,
.more_notes_link:hover {
	background: {color:Button Background on Hover};
}
.meta a,
.meta {
	color: {color:Post Metadata};
}
.meta a:hover {
	color: {color:Post Metadata on Hover};
}
.tags li {
  background: {color:Post Tags Background};
}
span.divider {
	background: {color:Post Divider};
}

header,
header a {
	color: {color:Header Text and Links};
}
header a:hover {
	color: {color:Header Text and Links};
}
header h1 {
	font-family: {font:Blog Title};
}
hr {
	border: 1px solid {color:Post divider};
}
