// FOOTER
// Shown at bottom of theme
footer {
  font-size: $font-size * 0.65;
  width: 80%;
  display: inline-block;
  text-align: center;
  margin: 2em 10%;
  padding: 3em;
  border-top: 1px solid rgba(0, 0, 0, 0.03);
}
