// FOOTER
// Shown at bottom of theme
footer {
  font-size: $font-size-xs;
  width: 100%;
  display: inline-block;
  text-align: center;
  padding: 3em;
  border-top: 1px solid rgba(0, 0, 0, 0.03);
  float: left;
  .theme {
    font-weight: bold;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
  .footer-widget {
    width: 100%;
    display: inline-block;
    float: left;
  }
  #footer-social-icons {
    margin: 1em 0;
  }
}
