#sidebar {
  .widget-title {
    font-weight: bold;
    display: inline-block;
  }
  .widget-title,
  .sidebar-custom-image {
    margin: 1em 0;
  }
  .user-content,
  .user-avatars {
    ul, ol {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }
  .user-avatars {
    li {
      float: left;
    }
    img {
    border-radius: 0.3em;
    }
  }
  .sidebar-widget {
    display: inline-block;
    width: 100%;
    float: left;
    margin-bottom: 1.5em;
  }
  // Search submit button
  input.submit {
    margin-top: 1em;
  }
  input {
    width: 100%;
  }
  // Margin reset for second element of widget (widget content)
  .sidebar-widget > *:nth-child(2) {
    margin: 0;
  }
}
