$font-size: 1.1em;
$font-size-xl: $font-size * 2.5;
$font-size-l: $font-size * 2;
$font-size-m: $font-size * 1.5;
$font-size-s: $font-size * 0.85;
$font-size-xs: $font-size * 0.8;

$spacing: 1em;

$content-width: 80%;
$wrapper-width: 70%;

@mixin break-point($small) {
  @media screen and (max-width: 900px) {
      @content ;
  }
}
